/*Card*/
.card-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: start;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.card-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #555555;
}

.card-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #888888;
}

.card-icon {
  width: 64px;
  height: 64px;
  margin-right: 24px;
}

/*MenuCards*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
  width: 70%;
}

/*WhyGlobuzzer */
.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #555555;
  width: 75%;
}

.why {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #909090;
  width: 75%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  align-items: center;
}

.small-line {
  display: block;
  width: 36px;
  height: 0px;
  left: 728.21px;
  top: 1280px;
  border: 2px solid #F24B6A;
  margin-top: 25px;
  margin-bottom: 31px;
}

.big-line {
  display: block;
  border: 1px solid #e5e5e5;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 70%;
}

.menu {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {

  .card-body {
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
    padding: 20px;
  }

  .grid-container {
    grid-template-columns: none;
    width: 100%;
    gap: 0px;
  }

    .card-icon {
      width: 50px;
      height: 50px;
      margin: 0px;
      justify-self: center;
      align-self: center;
  }

  .card-text h1 {
    font-size: 18px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .card-text p {
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
  }

  .title {
    font-size: 24px;
  }

  .why {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 15px;
  }

  .small-line {
  margin-top: 8px;
  margin-bottom: 24px;
}

.big-line {
  display: none;
}

.menu {
  display: flex;
  /*justify-content: center;*/
}
}
