.container {
  z-index: -1;
  width: 100vw;
  height: 90vh;
  /*position: relative;*/
  overflow: scroll;
  background-image: url('./../../images/image_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}

.header h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 0px;
  text-align: center;
  color: #535151;
}

.header p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #7B7B7B;
  margin: 20px auto 30px;
  max-width: 300px;
}

.header p:last-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #F24B6A;
  border-radius: 5px;
  width: 112px;
  height: 37px;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px 0 0 150px;
}

.left h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #535151;
}

.left p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #7B7B7B;
}

.left p:last-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  width: 136px;
  height: 52px;
  background: #F24B6A;
  border-radius: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px 0 0 10px;
}

.video {
  z-index: -1;
  height: 284px;
  width: 147px;
  background: #000000;
  border-radius: 15px;
  padding: 15px 5px 30px 5px;
  /*position: absolute;*/
}
.videoA {
  z-index: 1;
  height: 409px;
  width: 212px;
  background: #000000;
  border-radius: 15px;
  padding: 15px 5px 30px 5px;
  /*position: absolute;*/
}

.fingerprint {
  width: 31px;
  height: 31px;
  border-radius:50%;
  background: #222831;
  position: relative;
  bottom: 40px;
  left: 62px;
}

.fingerprintA {
  z-index: 2;
  width: 35px;
  height: 35px;
  border-radius:50%;
  background: #222831;
  position: relative;
  bottom: 40px;
  left: 94px;
}




