@keyframes menuAnimation {
  0%{
    transform: translate(0%, 0%);
  }
  25%{
    transform: translate(25%, 0%);
  }
  50%{
    transform: translate(50%, 0%);
  }
  75%{
    transform: translate(75%, 0%);
  }
  100%{
    transform: translate(100%, 0%);
  }
}

.link {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
}

.floating {
  z-index: 9999;
  height: 345px;
  width: 213px;
  background: #2A293A;
  position: fixed;
  top:0px;
  left: -213px;
  border-radius: 1px;
  animation-name: menuAnimation;
  animation-duration: 180ms;
  /*animation-delay: 200ms;*/
  animation-fill-mode: forwards;
  /*transition-timing-function: ease-out;*/
  /*transition: all 1s ease;*/
}

.sesame-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 14px 20px;
  color: #FFFFFF;
  border-bottom: 1px solid #5F5D73;
}

.sesame-logo {
  width: 78px;
  height: 11px;
  padding-bottom: 45px
  /*left: 20px;
  top: 14px;*/
}

.sesame-links {
  margin-bottom: 50px;
}

.sesame-links a {
  display:flex;
  flex-direction: column;
  color: #FFFFFF;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding-left: 18px;
}

.ghost-button {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 134.09%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F24B6A;
  width: 115px;
  height: 26px;
  border: 1px solid #F24B6A;
  border-radius: 15px;
  background: transparent;
}
