a {
  text-decoration: none;
}

.footer-contact {
  max-width: 100%;
  height: 276px;
  background: #F24B6A;
  position:relative;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  width:90%;
  height: 100%;
  margin: 0 auto;
}

.footer-addresse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 30px;
  line-height: 3;
}

.footer-addresse a {
  margin-bottom: 5px;
}


.link-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}

.column-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}


.link-column a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 235%;
  color: #FFFFFF;
}

.link-column img {
  margin-bottom: 0px;
}

.follow-us {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}


/*ICONS SOCIAL MEDIA*/
.contact-icons {
   width: 135px;
   height: 90px;
   color: #F24B6A;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.contact-icons a {
  color: #F24B6A;
}

.white-square {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-column {

}


/*©COPYRIGHT*/
.footer-copyright {
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  /*display: flex;*/
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 8px;
  text-align: center;
}
