a {
  text-decoration: none;
}

/*FooterMap*/

.footer-map {
  /*width: 100%;
  max-width: 100%;*/
  height: 340px;
  background: #5EBFBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  background: #F24B6A;
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
}

.map-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-map img {
  width: 228px;
  height: 134px;
  margin-bottom: 30px;
}


/*FooterContact*/

.mobile-column {
  display: flex;
  flex-direction: column;
}

.mobile-column a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 146.28%;
  color: #FFFFFF;
}

.footer-mobile {
  height: 326px;
  background: #F24B6A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: block;
  margin: auto auto 30px;
}

.mobile-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0.0;
  color: #fff;
  margin-bottom: 8px;
}

/*ICONS SOCIALMEDIA*/
.mobile-icons {
   width: 135px;
   height: 90px;
   color: #F24B6A;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.mobile-icons a {
  color: #F24B6A;
}

.white-square {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright-mobile {
  font-family: Montserrat;
  font-style: normal;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  display: flex;
}




/*@media screen and (min-width: 82em) {

.footer-map {
  height: 288px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-map img {
  width: 340px;
  height: 200px;
  margin-right: 141px;
  margin-bottom: 0;
}

.map-text h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  width: 489px;
  height: 92px;

}

.footer-contact {
  height: 276px;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  position: absolute;
  top: 33px;
  left: 92px;
}

.footer-address {
  position: absolute;
  top: 95px;
  left: 92px;
  align-items: start;
}

.footer-copyright {
  position: absolute;
  top: 231px;
  left: 92px;
  font-weight: 500;
  font-size: 12px;
  line-height: 146.28%
}

.contact-icons {
  position: absolute;
  top: 131px;
  right: 146px
}

.follow-us {
  position: absolute;
  top: 75px;
  right: 150px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 146.28%;
  color: #FFFFFF;
}
.footer-links {
  display: flex;
  position: absolute;
  top: 95px;
}


}*/
