/*FooterMap*/

.footer-map {
  width: 100%;
  max-width: 100%;
  height: 288px;
  background: #5EBFBF;
}

.footer-map p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 40px;
  background: #F24B6A;
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.footer-map h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  width: 489px;
  height: 92px;
  margin-top: 60px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-map img {
  width: 340px;
  height: 200px;
  margin-top: 40px;
  margin-left: -40px;
  /*position: relative;
  left: 224px;
  top:47px;*/
}

.card-body {
  display: flex;
  justify-content: space-around;
}
/*FooterContact*/

.footer-contact {
  width: 100%;
  max-width: 100%;
  height: 276px;
  background: #F24B6A;
  position: relative;
}

.contact-icons {
   width: 120px;
   height: 80px;
   color: #F24B6A;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   align-items: center;
   justify-items: center;
}

.white-square {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 16px;*/
}

.icons {
  position: absolute;
  bottom: 72px;
  right: 136px;
}

@media screen and (max-width: 900px) {
  .card-body {
    flex-direction: column;
    justify-content: center;
}

}
